nav img{
    width: 40%;
}
.banner{
    background-color: #f9f9ff;
}
.banner img{
    width: 70%;
}
.banner a{
    background-color: #8490ff;
    color: #fff;
}
.banner a:hover{
    background-color: #8490ff;
    color: #fff;
}
.about a{
    background-color: #8490ff;
    color: #fff;
}
.about a:hover{
    background-color: #8490ff;
    color: #fff;
}
.about img{
    width: 85%;
}
.number{
    background-color: #8490ff;
}
.project{
    background-color: #f9f9ff;
}
.project h2 {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    line-height: 110px;
}
.team img {
    width: 35%;
    position: relative;
    margin-top: -55px;
    top: -15px;
    left: -78px;
}
.contact{
    background-color: #f9f9ff;
}
footer{
    background-color: #04091e;
}